@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}

@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}

// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}

@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}


aside.sidenav-main {
    position: fixed;
    top: 0;
    width: 230px;
    bottom: 0;
    overflow-y: auto;
    @include max-mq(1300){
        width: 200px;
    }
    .brand-sidebar {
        padding: 20px 20px;
        margin-bottom: 20px;
        height: 88px;
        @include max-mq(1500){
            padding: 11px 15px;
            margin-bottom: 7px;
        }
        .logo-wrapper{
            margin-bottom: 0px;
            a.brand-logo {
                cursor: pointer;
                display: flex;
                margin-top: 0 !important;
                align-items: center;
                span.hello-face-text {
                    font-size: 12px;
                    letter-spacing: 0.25em;
                    margin-left: 10px;
                    display: block;
                }
            }
        }
    }
    .main-nav-item {
        // height: 90vh;
        overflow: auto;
        ul.nav-item-inner{
            li.nav-list-parents {
                margin-bottom: 3px;
                padding: 14px 40px;
                padding-right: 0;
                position: relative;
                cursor: pointer;
                a.navlinks {
                    font-weight: 500;
                    font-size: 13px !important;
                    line-height: 18px;
                    letter-spacing: 0.05em;
                    padding-left: 22px;
                    cursor: pointer;
                    color: rgba(255, 255, 255, 0.7);
                    transition: 0.4s all ease;
                    @include max-mq(1500){
                        font-size: 12px !important;
                        line-height: 17px;
                        padding-left: 15px;
                    }
                    img{
                        position: absolute;
                        left: 27px;
                        width: 20px;
                        height: 20px;
                        object-fit: scale-down;
                        @include max-mq(1500){
                            left: 23px;
                            width: 19px;
                            height: 19px;
                        }
                    }
                }
                &:hover{
                    background: #1E282D;
                    transition: 0.4s all ease;
                    &::before{
                        position: absolute;
                        content: '';
                        background: #4F45BC;
                        width: 6px;
                        top: 0;
                        bottom: 0;
                        left: 0;
                    }
                    a{
                        color: #fff;
                    }
                }
            }
            .active{
                background: #1E282D;
                &::before{
                    position: absolute;
                    content: '';
                    background: #4F45BC;
                    width: 6px;
                    top: 0;
                    bottom: 0;
                    left: 0;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}


.nav-links[data-toggle].collapsed:after {
    content: "▾";
}
.nav-links[data-toggle]:not(.collapsed):after {
    content: "▴";
}

a.arrow-icon {
    display: inline-block;
    position: relative;
    left: 20px;
    cursor: pointer;
    // transform: rotateX(170deg);
    @include max-mq(1500){
        left: 34px;
    }
    @include max-mq(1300){
        left: 24px;
    }
}

.dropdown-custom{
    .sub-menu-new{
        ul {
            padding-left: 0 !important;
            li.nav-item {
                margin-top: 20px;
                a{
                    color: #fff;
                    font-size: 13px;
                    padding-left: 22px;
                    line-height: 19px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}