
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
       <h1 class="logo-wrapper">
           <a class="brand-logo darken-1 mt-4" >
               <img
                src="../../../../assets/images/logo-b087f2a7.svg" width="50" alt="materialize logo" />
                <span class="hello-face-text">HELLO FACE</span>
            </a>
        </h1>
    </div>  
    <div class="main-nav-item">
      <ul class="nav-item-inner">
         <li (click)="clearSearch()" routerLink="dashboard"  routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact:
            true}" class="nav-list-parents">
            <a  class="navlinks dashboard-icon" title="Dashboard">
                <img src="../../../../assets/images/box.svg" alt="box" title="box"/>
                Dashboard</a>
         </li>
         <li  class="nav-list-parents dropdown-custom">
            <a (click)="clearSearch()" routerLink="/uploadvideo" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents" class="navlinks upload-video collapsed" title="Upload Videos" >
                <img src="../../../../assets/images/video.svg" alt="box" title="box"/>
                Upload Videos</a>
                <a class="arrow-icon" href="#submenu1" data-toggle="collapse" data-target="#submenu1" >
                    <img src="../../../../assets/images/down.svg" alt="down" title="down">
                </a>
                <div  class="collapse sub-menu-new" id="submenu1" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                      <li routerLinkActive="active" 
                      [routerLinkActiveOptions]="{exact:
                         true}" class="nav-item"><a (click)="clearSearch()" routerLink="/allvideos" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact:
                           true}" class="nav-list-parents" class="nav-link py-0" >All videos</a></li>
                    </ul>
                </div>
         </li>
         <!-- <li (click)="clearSearch()" routerLink="/reviewvideos" routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact:
            true}" class="nav-list-parents">
             <a class="navlinks review-videos" title="Review Videos">
                <img src="../../../../assets/images/videoreview.svg" alt="box" title="box"/> 
                Review Videos</a>
         </li> -->
         <li  class="nav-list-parents dropdown-custom">
            <a (click)="clearSearch()" routerLink="/uploadcategories" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents" class="navlinks upload-video collapsed" title="Upload Videos" >
                <img src="../../../../assets/images/categories.svg" alt="box" title="box"/>
                Categories</a>
                <a class="arrow-icon" href="#submenu12" data-toggle="collapse" data-target="#submenu12" >
                    <img style="margin-left: 23px;" src="../../../../assets/images/down.svg" alt="down" title="down">
                </a>
                <div  class="collapse sub-menu-new" id="submenu12" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                      <li routerLinkActive="active" 
                      [routerLinkActiveOptions]="{exact:
                         true}" class="nav-item"><a (click)="clearSearch()" routerLink="/categories" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact:
                           true}" class="nav-list-parents" class="nav-link py-0" >All Categories</a></li>
                    </ul>
                </div>
         </li>
         <li routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact:
            true}"  routerLink="registeruser"  class="nav-list-parents">
             <a (click)="clearSearch()" class="navlinks registerd-icon" title="Registerd Users">
                <img src="../../../../assets/images/profile.svg" alt="box" title="box"/> 
                Registerd Users</a>
         </li> 
         
         <li  class="nav-list-parents dropdown-custom">
            <a (click)="clearSearch()" routerLink="/language" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents" class="navlinks upload-video collapsed" title="Upload Videos" >
                <img src="../../../../assets/images/categories.svg" alt="box" title="box"/>
                Language</a>
                <a class="arrow-icon" href="#submenu123" data-toggle="collapse" data-target="#submenu123" >
                    <img style="margin-left: 23px;" src="../../../../assets/images/down.svg" alt="down" title="down">
                </a>
                <div  class="collapse sub-menu-new" id="submenu123" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                      <li routerLinkActive="active" 
                      [routerLinkActiveOptions]="{exact:
                         true}" class="nav-item"><a (click)="clearSearch()" routerLink="/languageList" routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact:
                           true}" class="nav-list-parents" class="nav-link py-0" >All Languages</a></li>
                    </ul>
                </div>
         </li>

         <li routerLinkActive="active" 
         [routerLinkActiveOptions]="{exact:
            true}"  routerLink="trainingVideo"  class="nav-list-parents">
             <a (click)="clearSearch()" class="navlinks registerd-icon" title="Registerd Users">
                <img src="../../../../assets/images/profile.svg" alt="box" title="box"/> 
                Tranining Videos</a>
         </li>
        
      </ul>
</div>
 </aside>


 
