<div id="instructions">
	<video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
		poster='http://video-js.zencoder.com/oceans-clip.jpg'
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="{{videoSource}}" type='video/mp4' />
	</video>
	<!-- <button (click)="playPause()">Play/Pause</button>
	<button (click)="makeBig()">Big</button>
	<button (click)="makeSmall()">Small</button>
	<button (click)="makeNormal()">Normal</button>
	<button (click)="restart();">Restart</button>
	<button (click)="skip(-10)">Rewind</button>
	<button (click)="skip(10)">Fastforward</button> -->
</div>

