<div class="comman-area-main-for-compo ">
    <!-- --------------comman-heading-use-for-all----------------------------- -->
    <div class="comman-heading-row">
            <div class="left-col-text">Categories</div>
    </div>
   

    <div class="main-content-page">
        <form method="post" enctype="multipart/form-data" [formGroup]="uploadcategoryForm">
        <div class="inner-upload-video-main">
            <div class="form-group-comman">
                <input formControlName="name" type="text"  placeholder="Name"  maxlength="45"/>
            </div>
            </div>
            <div class="form-group-comman upload-main-custom">
                <div class="inner-custtom-card">
                    <img class="cursor" (click)="deleteImage()" width="30" *ngIf="imageUrl" src="../../../assets/images/cross.svg" alt="video" title="video" />
                    <img  height="351" width="258" *ngIf="imageUrl" [src]="imageUrl" />
                    <div *ngIf="!imageUrl" class="video-icon"><img src="../../../assets/images/play.svg" alt="video" title="video" /></div>
                    <div *ngIf="!imageUrl" class="upload-file-text">Upload icon file here</div>
                    <div  class="extentsion-file">File formate .gif</div>
                    <div class="button-browse">
                         <button (click)="imageVideo()"  class="upload-btn">Browse</button></div>
                    <div class="file-size-des">Maximum size 5MB</div>
                </div>

            </div>
            <div class="form-group-comman upload-main-custom">
                <div class="inner-custtom-card">
                    <img class="cursor" (click)="deleteImages()"  width="30" *ngIf="imageCoverUrl" src="../../../assets/images/cross.svg" alt="video" title="video" />
                    <img  height="351" width="258" *ngIf="imageCoverUrl" [src]="imageCoverUrl" />
                    <div *ngIf="!imageCoverUrl" class="video-icon"><img src="../../../assets/images/img-icon.svg" alt="video" title="video" /></div>
                    <div  *ngIf="!imageCoverUrl" class="upload-file-text" style="margin-bottom:40px">Upload cover image</div>
                    <div class="button-browse"> <button class="upload-btn" (click)="imageVideos()">Browse</button></div>
                    <div class="file-size-des">Maximum size 5MB</div>
                </div>
            </div>
            <div class="last-row-button">
                <div class="inner-button-row">
                    <button type="reset" (click)="cleardata()"  class="cancel-btn">Cancel</button>
                    <!-- <button (click)="save()" class="submit-btn">Submit</button> -->
                    <button title="Login" [disabled]="isLoading" (click)="save()" class="submit-btn"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i> {{button}}</button>
    
                </div>
            </div>
        
        </form>
    </div>

</div>