.inner-upload-video-main {
    width: 30%;
    .form-group-comman {
        margin-bottom: 35px;
        textarea {
            resize: none !important;
            height: 180px !important;
            width: 100%;
            background: #535a5c;
            border: none !important;
            padding: 26px;
            border-radius: 30px;
            color: #fff !important;
            ::placeholder{
                color: #fff;
            }
        }
    }
}

.hash-tags-field {
    display: flex;
    align-items: center;
    .left-input-filed-adding {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .right-btn-add{
        button.btn-blue {
            background: #4F45BC;
            border: none;
            width: 32px;
            height: 32px;
            padding: 0;
            border-radius: 100%;
            position: relative;
            left: 18px;
            cursor: pointer;
            img{
                width: 14px;
            }
        }
    }
}


.inner-custtom-card {
    padding: 35px;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    border-radius: 31px;
    position: relative;
    width: 30%;
    margin-bottom: 39px;
    .video-icon {
        margin-bottom: 20px;
    }
    .upload-file-text {
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 10px;
    }
    .extentsion-file {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 30px;
    }
    .button-browse {
        margin-bottom: 30px;
        button.upload-btn {
            background: #000;
            border: none !important;
            background: #4F45BC;
            box-shadow: 0px 18px 35px 2px rgb(0 0 0 / 20%);
            border-radius: 31px;
            color: #fff;
            padding: 14px 42px;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 16px;
        }
    }
    .file-size-des {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.5);
    }
}


// ------------last-btn-row-------------//
.inner-button-row {
    text-align: right;
    button.cancel-btn {
        margin-right: 30px;
        border: none;
        background: #1E282D !important;
        border-radius: 31px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        padding: 16px 40px;
        cursor: pointer;
    }
    .submit-btn{
        border: none;
        background: #4F45BC;
        box-shadow: 0px 18px 35px 2px rgba(0, 0, 0, 0.2);
        border-radius: 31px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        padding: 16px 40px;
        cursor: pointer;
    }
}

.new-add-input {
    position: relative;
    button.btn-blue{
        position: absolute;
        right: 11px;
        top: 0;
        border: 0;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        font-size: 20px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        padding: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
    }
}


img.img-uploaded {
    width: 410px;
    height: 410px;
    margin: auto;
    margin-bottom: 30px;
    object-fit: cover;
}

.delete-icon-main {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 23px;
}


.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}
.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}
input:checked + .switch {
    background: #72da67;
}
input:checked + .switch::before {
    left: 27px;
    background: #fff;
}
input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}



.main-content-page{
    position: relative;
    .switchActive {
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
        top: -10px;
    }
    label.switch {
        margin-bottom: 0;
    }
    span {
        margin-right: 10px;
    }
}