<div class="comman-area-main-for-compo">
    <div class="upper-grid-area-main">
        <div class="inner-grid-main first-col">
            <span class="number">{{dashboard.totalVideos}}</span>
            <span class="sub-heading">Total videos</span>
        </div>
        <div class="inner-grid-main second-col">
            <span class="number">200</span>
            <span class="sub-heading">Total hellos</span>
        </div>
        <div class="inner-grid-main third-col">
            <span class="number">{{dashboard.totalCategory}}</span>
            <span class="sub-heading">Total categories</span>
        </div>
        <div class="inner-grid-main fourth-col">
            <span class="number">{{dashboard.totalpendinVideos}}</span>
            <span class="sub-heading">Pending videos for approval</span>
        </div>
    </div>
    <!-- ---------------------All charts box-and date-picker--------------- -->

    <div class="chart-grid-main-area">
        <div class="inner-grid-main first-col">
            <div class="inner-first-row">
                <label>Registered users</label>
                <div  class="right-col-date-pick">
                <input type="text" matInput ngxDaterangepickerMd 
                [locale]="{applyLabel: 'apply', format: 'DD-MM-YYYY'}"
                [showClearButton]="true" 
                startKey="start" endKey="end" (change)="choosedDate($event)" name="daterange" placeholder="Select Date"
                [showDropdowns]="true"
                [linkedCalendars]="false"
                style="width: 37%" />
                </div>
            </div>
            <!-- <div style="display: block;">
                
                <canvas baseChart width="400" height="230"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
                </canvas>
              </div> -->

              <div style="width: 100%; height: 100%; position: relative;">
                <div style="text-align: center; width: 100%; height: 100%; position: absolute; left: 0; top: 258px; z-index: 20;">
                    <b *ngIf="registerUser.length==0">No data!</b>
                </div>
                <canvas baseChart width="400" height="230"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
                </canvas>
            </div>

              

        </div>
        <div class="inner-grid-main second-col">
            <div class="inner-first-row">
                <label>All videos</label>
                <div class="right-col-date-pick">
                    <input type="text"
                    class="form-control"
                    #dp="bsDatepicker"
                    bsDatepicker placeholder="Date">
                </div>
            </div>
            <div style="display: block;">
                <canvas baseChart width="400" height="230"
                [datasets]="lineChartData2"
                [labels]="lineChartLabels2"
                [options]="lineChartOptions2"
                [colors]="lineChartColors2"
                [legend]="lineChartLegend2"
                [chartType]="lineChartType2"
                [plugins]="lineChartPlugins2">
              </canvas>
            </div>
        </div>
        <div class="inner-grid-main third-col">
            <div class="inner-first-row">
                <label>New review videos</label>
                <div class="right-col-date-pick">
                    <input type="text"
                    class="form-control"
                    #dp="bsDatepicker"
                    bsDatepicker placeholder="Date">
                </div>
            </div>
            <div style="display: block;">
                <canvas baseChart width="400" height="230"
                [datasets]="lineChartData3"
                [labels]="lineChartLabels3"
                [options]="lineChartOptions3"
                [colors]="lineChartColors3"
                [legend]="lineChartLegend3"
                [chartType]="lineChartType3"
                [plugins]="lineChartPlugins3">
              </canvas>
            </div>
        </div>
        <div class="inner-grid-main fourth-col">
            <div class="inner-first-row">
                <label>Category</label>
                <div class="right-col-date-pick">
                    <input type="text"
                    class="form-control"
                    #dp="bsDatepicker"
                    bsDatepicker placeholder="Date">
                </div>
            </div>
            <div style="display: block;">
                <canvas baseChart width="400" height="230"
                    [datasets]="lineChartData4"
                    [labels]="lineChartLabels4"
                    [options]="lineChartOptions4"
                    [colors]="lineChartColors4"
                    [legend]="lineChartLegend4"
                    [chartType]="lineChartType4"
                    [plugins]="lineChartPlugins4">
            </canvas>
            </div>
        </div>
    </div>



</div>
