// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}

@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}

// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}

@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}


.upper-grid-area-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    grid-column-gap: 40px;
    text-align: center;
    @include max-mq(1600){
        padding: 30px 30px;
        grid-column-gap: 30px;
    }
    @include max-mq(1400){
        padding: 23px 18px;
        grid-column-gap: 15px;
    }
    .inner-grid-main{
        // background: #000;
        padding: 30px;
        border-radius: 20px;
        @include max-mq(1600){
            padding: 25px;
            border-radius: 15px;
        }
        @include max-mq(1300){
            padding: 21px;
            border-radius: 11px;
        }
        span.number {
            display: block;
            margin-bottom: 18px;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            @include max-mq(1400){
                margin-bottom: 15px;
                font-size: 20px;
                line-height: 24px;
            }
        }
        span.sub-heading {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.02em;
            color: rgba(255, 255, 255, 0.8);
            @include max-mq(1550){
                font-size: 14px;
                line-height: 17px;
            }
            @include max-mq(1400){
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    .first-col {
        background: linear-gradient(256.22deg
    , rgba(4, 135, 103, 0.1) 0.15%, #1E282D 76.25%);
    }
    .second-col {
        background: linear-gradient(255.65deg
    , #F7CC7F -113.87%, #1E282D 46.57%);
    }
    .third-col {
        background: linear-gradient(254.76deg
    , #91B5F8 -80.02%, #1E282D 47.06%);
    }
    .fourth-col {
        background: linear-gradient(256.22deg
    , #FF9D80 -89.85%, #1E282D 46.25%);
    }
}

.chart-grid-main-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 35px 35px;
    @include max-mq(1500){
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin: 28px 25px;
    }
    @include max-mq(1400){
        margin: 25px 20px;
    }
    .inner-grid-main {
        background: #1E282D;
        padding: 30px;
        border-radius: 20px;
        @include max-mq(1500){
            padding: 20px;
            border-radius: 15px;
        }
        .inner-first-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            margin-bottom: 30px;
            padding-bottom: 20px;
            label{
                margin-bottom: 0;
                color:  rgba(255, 255, 255, 0.8);
            }
            .right-col-date-pick{
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    background: url(../../../assets/images/calender.svg) no-repeat;
                    background-size: 15px;
                    width: 20px;
                    height: 20px;
                    right: 15px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                input.form-control {
                    color: #fff !important;
                    padding: 12px 30px !important;
                    font-size: 12px;
                    width: 75% !important;
                    margin-left: auto;
                    @include max-mq(1660){
                        width: 95% !important;
                    }
                    &:placeholder{
                        color: #fff;
                    }
                }
            }
        }
    }
}