.main-content-area-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 20px 40px;
    .ineeer-grid-system {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        padding: 30px;
        position: relative;
        padding-left: 20px;
    }
}



.main-john-dev {
    display: flex;
    .left-col-img {
        margin-right: 20px;
        img{
            width: 70px;
            height: 70px;
            object-fit: scale-down;
            border-radius: 100%;
        }
    }
    .right-col-main {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .innner-left-col{
            .name-for {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 20px;
                margin-top: 3px;
            }
            .email-id {
                margin-bottom: 20px;
                img{
                    margin-right: 8px;
                }
            }
            .phone-id{
                img{
                    margin-right: 8px;
                }
            }
        }
    }
}

.last-col-two-btn {
    width: 20%;
    text-align: right;
    .inner-last-col {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button.custom-btn {
            border: none;
            background: #4F45BC;
            border-radius: 100px;
            color: #fff;
            padding: 15px 26px;
            margin-right: 21px;
            cursor: pointer;
            font-size: 13px;
            img{
                margin-right: 10px;
            }
        }
        .actions-btns{
            .btn-group{
                .btn {
                    padding: 0;
                    background: transparent !important;
                    border: none !important;
                    &::after{
                        display: none;
                    }
                }
                .dropdown-menu {
                    left: -150px !important;
                    top: 30px !important;
                    background: #2D363A;
                    border-radius: 10px;
                    li{
                        a.dropdown-item{
                            color: #fff !important;
                            padding: 12px 20px;
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                            &:hover{
                                background: #3f474a !important;
                            }
                            img{
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.shine1 {
    background: #6f7577;
    background-image: linear-gradient(to right, #6f7577 0%, #757679 20%, #68727b 40%, #797a7d 100%);
    background-repeat: no-repeat;
    background-size: 800px 193px; 
    display: inline-block;
    position: relative; 
    animation-name: placeholderShimeer;
    -webkit-animation-duration: 5s;
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
    }
  
  .box {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .lines {
    height: 10px;
    margin-top: 10px;
    width: 200px; 
  }


  .actions-btns{
    .btn-group{
        .btn {
            padding: 0;
            background: transparent !important;
            border: none !important;
            &::after{
                display: none;
            }
        }
        .dropdown-menu {
            left: -150px !important;
            top: 0px !important;
            background: #2D363A;
            border-radius: 10px;
            li{
                a.dropdown-item{
                    color: #fff !important;
                    padding: 12px 20px;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    &:hover{
                        background: #3f474a !important;
                    }
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


.actions-btns{
    position: absolute;
    right: 20px;
    top: 20px;
}