<div class="comman-area-main-for-compo ">
    <!-- --------------comman-heading-use-for-all----------------------------- -->
    <div class="comman-heading-row">
       <div class="left-col-text">Registered Users</div>
   </div>
   <div class="main-content-area-box">
   
<ng-container *ngIf="shimmer">
    <div class="item-with-background" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
        <ngx-skeleton-loader  [animation]="animation" [theme]="{
            'border-radius': '15px',
            height: '170px',
        'background-color': '#6f7577',
        'animation-duration': '2s'
      }">
        </ngx-skeleton-loader>
    </div>
</ng-container>
   
    

        <div class="ineeer-grid-system" *ngFor="let item of userList">
            <div  class="main-john-dev">
                <div [routerLink]="['/allvideos']" [queryParams]="{id: item._id}" class="left-col-img">
                    <ngx-avatar bgColor="#293236" size="50" name="{{item.name}}"></ngx-avatar>
                </div>
                <div  class="right-col-main">
                    <div [routerLink]="['/allvideos']" [queryParams]="{id: item._id}" class="innner-left-col">
                        <div class="name-for">{{item.name}}</div>
                        <div class="email-id">
                            <img  src="../../../assets/images/emailsvg.svg" alt="email"  title="email" />
                           {{item.email}}
                        </div>
                        <div class="phone-id">
                            <img src="../../../assets/images/phone.svg" alt="Phone" title="Phone">
                           {{item.phoneNumber}}
                        </div>
                    </div>

                    
                    <div class="innner-right-col">
                        <div class="actions-btns">
                            <div class="btn-group dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img  src="../../../assets/images/edits-dots.svg" alt="edits" title="edits"/>
                                </button>
                                <ul id="dropdown-basic"  class="dropdown-menu"
                                    role="menu" aria-labelledby="button-basic">
                          
                                <li role="menuitem">
                                        <a (click)="deleteVideo('deleteUser',item._id)" class="dropdown-item">
                                        <img  src="../../../assets/images/delete-1.svg" alt="Delete" title="Delete">
                                        Delete
                                        </a>
                                    </li>
                                    <li *ngIf="item.isBlocked==true" role="menuitem">
                                        <a (click)="deleteVideo('blockUser',item._id)" class="dropdown-item">
                                            <img src="../../../assets/images/block.svg" alt="Edit" title="Edit">
                                            Block
                                        </a>
                                    </li>
                                    <li *ngIf="item.isBlocked==false" role="menuitem">
                                        <a (click)="deleteVideo('unblockUser',item._id)" class="dropdown-item">
                                            <img src="../../../assets/images/block.svg" alt="Edit" title="Edit">
                                            Unblock
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

 


   </div>

</div>


