.main-inner-contet-all-videos {
    margin: 0px 25px;
}

.main-all-videoes {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 25px 26px;
    margin-bottom: 20px;
    display: flex;
    .img-col-main {
        width: 10%;
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .center-col {
        width: 70%;
        margin-left: 20px;
    }
    .last-col-two-btn {
        width: 20%;
        text-align: right;
        .inner-last-col {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button.custom-btn {
                border: none;
                background: #4F45BC;
                border-radius: 100px;
                color: #fff;
                padding: 15px 26px;
                margin-right: 21px;
                cursor: pointer;
                font-size: 13px;
                img{
                    margin-right: 10px;
                }
            }
            .actions-btns{
                .btn-group{
                    .btn {
                        padding: 0;
                        background: transparent !important;
                        border: none !important;
                        &::after{
                            display: none;
                        }
                    }
                    .dropdown-menu {
                        left: -150px !important;
                        top: 30px !important;
                        background: #2D363A;
                        border-radius: 10px;
                        li{
                            a.dropdown-item{
                                color: #fff !important;
                                padding: 12px 20px;
                                font-size: 15px;
                                display: flex;
                                align-items: center;
                                &:hover{
                                    background: #3f474a !important;
                                }
                                img{
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.first-row-heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .left-heading-video {
        font-weight: 500;
        font-size: 16px;
        line-height: 144.9%;
        color: #FFFFFF;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
    .right-col-status {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        img{
            margin-right: 10px;
        }
    }
}


.paragraph-text {
    width: 50%;
    font-size: 14px;
    line-height: 144.9%;
    color: rgba(255, 255, 255, 0.8);
    word-break: break-word;
    a {
        font-weight: 500;
        text-decoration: underline;
        color: #fff;
        cursor: pointer;
        margin-left: 8px;
    }
}

.public-private-main {
    margin-top: 20px;
    display: flex;
    align-items: center;
    .left-col-public-priv {
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
        cursor: pointer;
        img {
            margin-right: 9px;
        }
    }
    .right-col-emotion{
        display: flex;
        align-items: center;
        background: #202A2F;
        border-radius: 31px;
        padding: 8px 16px;
        cursor: pointer;
        img{
            width: 16px;
            margin-right: 10px;
        }
    }
}

.has-tag-main {
    margin-top: 30px;
    span{
        margin-right: 16px;
        font-size: 14px;
    }
}

.search-results {
    height: 100vh;
    overflow: scroll;
  }

  .norecord{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
     width: 250px;
     margin: auto;
     margin-bottom: 30px;
     margin-top: 0;
    }
   }

