<div class="header-main-area">
<div class="inner-main-row-header">
    <div class="left-col-header-main">
        <input #name (keyup)="onKeySearch($event)" type="text" class="inputsearch" placeholder="Search here">
        <img (click)="search()" class="cursor setIcon" src="../../../../assets/images/search.svg" alt="notification" title="notification">   
    </div>
    <div class="right-col-header-main">
        <div  class="icon-colo-main">
            <img src="../../../../assets/images/notification.svg" alt="notification" title="notification">
        </div>
        <div  (click)="clearCredentials()" class="icon-colo-main">
            <img  src="../../../../assets/images/logout-icon.svg" alt="logouticon" title="logouticon">  
        </div>


    </div>

</div>
</div>