@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}

@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}

// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}

@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}


.header-main-area {
    padding: 20px 30px;
    position: fixed;
    right: 0;
    left: 230px;
    background: #293236;
    z-index: 9999;
    @include max-mq(1500){
        padding: 14px 21px;
    }
    @include max-mq(1300){
        left: 200px;
    }
    .inner-main-row-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-col-header-main {
            width: 30%;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                // background: url(../../../../assets/images/search.svg)no-repeat;
                background-size: 15px;
                width: 30px;
                height: 15px;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                cursor: pointer;
            }
            input{
                padding-right: 60px !important;
            }
        }
        .right-col-header-main {
            display: flex;
            align-items: center;
            .icon-colo-main {
                margin-right: 20px;
                background: #3f474a;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                cursor: pointer;
                @include max-mq(1500){
                    width: 40px;
                    height: 40px;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}

.setIcon{
    position:absolute;
    top:0;
    bottom: 0;
    margin:auto;
    right: 20px;
}