<div class="comman-area-main-for-compo ">
    <!-- --------------comman-heading-use-for-all----------------------------- -->
    <div class="comman-heading-row">
            <div class="left-col-text">All Languages</div>
    </div>


  

    <div class="main-grid">
            <ng-container *ngIf="shimmer">
            <div class="item-with-background" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                    <ngx-skeleton-loader  [animation]="animation" [theme]="{
                        'border-radius': '15px',
                        height: '120px',
                    'background-color': '#6f7577',
                    'animation-duration': '2s'
                  }">
                    </ngx-skeleton-loader>
                </div>
            </ng-container>
            <ng-container *ngIf="category.length>0;else other_content">
            <div *ngFor="let data of category" class="inner-grid">
                    <div  class="grid-black">
                            <span class="image-emoji">
                                    <img width="20" src="{{data.icon}}">
                            </span>
                            <span class="image-text">
                                    {{data.name}}
                            </span>
                    </div>
                    <div class="innner-right-col">
                            <div class="actions-btns">
                                <div class="btn-group dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img  src="../../../assets/images/edits-dots.svg" alt="edits" title="edits"/>
                                    </button>
                                    <ul id="dropdown-basic"  class="dropdown-menu"
                                        role="menu" aria-labelledby="button-basic">
                                    <li role="menuitem">
                                        <a [routerLink]="['/language']" [queryParams]="{id:data._id,name: data.name, regional:data.regionalText}"  class="dropdown-item">
                                            <img src="../../../assets/images/edit-pencil.svg" alt="Edit" title="Edit">
                                            Edit
                                        </a>
                                    </li>
                                    <!-- <li role="menuitem">
                                            <a (click)="deleteVideo('deleteCategory',data._id)" class="dropdown-item">
                                            <img  src="../../../assets/images/delete-1.svg" alt="Delete" title="Delete">
                                            Delete
                                            </a>
                                        </li> -->
                                        <li role="menuitem">
                                            <a (click)="deleteVideo('deleteLanguage',data._id)" class="dropdown-item">
                                                <img  src="../../../assets/images/delete-1.svg" alt="Delete" title="Delete">
                                                Delete
                                                </a>
                                        </li>
                        
                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>
            </ng-container>
         
            <ng-template #other_content>
                <div *ngIf="!shimmer" class="norecord">
               <img src="../../../assets/images/noVideo.svg">
               <span style="display: block;">No category found</span>
              </div>
           </ng-template>
    
         
    </div>
   
</div>
