<div class="comman-area-main-for-compo ">
    <!-- --------------comman-heading-use-for-all----------------------------- -->
    <div class="comman-heading-row">
       <div class="left-col-text">All Tranining Videos</div>
      
   </div>

  

<ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
   <div *ngIf="shimmer" class="main-all-videoes">
       <div class="shimm-main-video">
           <div class="box shine"></div>
           <div class="right-line">
               <div class="heading-shim">
                   <div class="left-head lines width-shim"></div>
               </div>
               <div class="paragraph-shims">
                   <div class="test-paragraph lines para-shim"></div>
                   <div class="test-paragraph lines para-shim"></div>
                   <div class="test-paragraph lines para-shim"></div>
                   <div class="test-paragraph lines para-shim"></div>
               </div>
           </div>
       </div>

   </div>
</ng-container>
   <!-- --------------------------- content-area---------------------------- -->
   <ng-container *ngIf="videoList.length>0;else other_content">
  
   <div *ngFor="let data of videoList; let i = index" class="main-inner-contet-all-videos">
       <div class="main-all-videoes">
           <div class="img-col-main">
               <img  src="{{data.thumbnail}}" title="allvideos" alt="videos"/>    
           </div>
           <!-- -------center-col-main---- -->
           <div class="center-col">
               <div class="first-row-heading">
                   <div class="left-heading-video">{{data.name}}</div>
                   <!-- --apply-condition-for three div-------- -->
                   <ng-container *ngIf="data.isGood">
                   <div *ngIf="data.isGood==true" class="right-col-status">
                       <img  src="../../../assets/images/approved-tick.svg" alt="new" title="new">
                       IsGood
                   </div>
                   <div *ngIf="data.isGood==false"  class="right-col-status">
                       <img  src="../../../assets/images/rejected-icon.svg" alt="new" title="new">
                       IsGood
                      
                   </div>
                  
                </ng-container>
               </div>
              
               <!-- ------------private| public |---------- -->
               <div class="public-private-main">
                   <div  class="left-col-public-priv">
                    Score : {{trueValueFind(data.swappedVideos)}}/{{data.swappedVideos.length}}
                   </div>
                   <!-- <div *ngIf="data.isPublic==false" class="left-col-public-priv">
                       <img src="../../../assets/images/lock.svg" alt="lock" title="lock">
                       Private
                   </div>
                   <div class="right-col-emotion">
                        <img width="20" src="{{data.categoryId.icon}}" alt="comedy" title="comedy" />   
                        {{data.categoryId.name}}
                   </div> -->
               </div>
               <!-- -----------has-tag------------------- -->
               <!-- <div class="has-tag-main">
                   <span *ngFor="let tag of data.tags">#{{tag}}</span>
               </div> -->


           </div>
           <!-- ----end-of-center-colo-main------------ -->
           <div class="last-col-two-btn">
               <div class="inner-last-col">
                   <button (click)="previewVideo(data)" class="custom-btn">
                       <img src="../../../assets/images/eye.svg" alt="eye" title="eye"/>Preview Video
                   </button>

                
               </div>
               
           </div>

           <div class="last-col-two-btn">
            <div class="inner-last-col">
                <!-- <button [routerLink]="['/uploadvideo']" [queryParams]="{videoUrl:data}" class="custom-btn">
                    <img src="../../../assets/images/eye.svg" alt="eye" title="eye"/>Publish Video
                </button> -->

                <button (click)="uploadVideo(data)" class="custom-btn">
                    <img src="../../../assets/images/eye.svg" alt="eye" title="eye"/>Publish Video
                </button>
                <div class="actions-btns">
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                aria-controls="dropdown-basic">
                            <img  src="../../../assets/images/edits-dots.svg" alt="edits" title="edits"/>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                       
                        <li role="menuitem">
                                <a class="dropdown-item" (click)="deleteVideo('deletetraning',data._id)">
                                <img src="../../../assets/images/delete-1.svg" alt="Delete" title="Delete">
                                Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>


       </div>
   </div>
</ng-container>
<ng-template #other_content>
    <div *ngIf="!shimmer" class="norecord">
   <img src="../../../assets/images/noVideo.svg">
   <span style="display: block;">No video found</span>
  </div>
</ng-template>

</div>