<div class="comman-area-main-for-compo ">
    <!-- --------------comman-heading-use-for-all----------------------------- -->
    <div class="comman-heading-row">
            <div class="left-col-text">Language</div>
    </div>
   

    <div class="main-content-page">
        <form method="post" enctype="multipart/form-data" [formGroup]="languageForm">
        <div class="inner-upload-video-main">
            <div class="form-group-comman">
                <input formControlName="name" type="text"  placeholder="Name"  maxlength="45"/>
            </div>
            </div>

            <div class="inner-upload-video-main">
                <div class="form-group-comman">
                    <input formControlName="regional" type="text"  placeholder="Regional"  maxlength="45"/>
                </div>
                </div>
         
          
            <div class="last-row-button">
                <div class="inner-button-row">
                    <button type="reset" (click)="cleardata()"  class="cancel-btn">Cancel</button>
                    <!-- <button (click)="save()" class="submit-btn">Submit</button> -->
                    <button title="Login" [disabled]="isLoading" (click)="save()" class="submit-btn"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i> {{button}}</button>
    
                </div>
            </div>
        
        </form>
    </div>

</div>