<div class="header-main-area-modal">
    <div class="left-col-close">
        <img matDialogClose="no" src="../../../assets/images/close.svg" alt="close" title="close">
    </div>
    <div *ngIf="type=='approve'" class="right-col-heading">
        Approve Video
    </div>
    <div *ngIf="type=='delete'" class="right-col-heading">
        Delete Video
    </div>
    <div *ngIf="type=='reject'" class="right-col-heading">
        Reason for Rejection
    </div>
    <div *ngIf="type=='block'" class="right-col-heading">
        Block Video
    </div>
    <div *ngIf="type=='deletetraning'" class="right-col-heading">
        Tranining Video
    </div>
    <div *ngIf="type=='unblock'" class="right-col-heading">
        Unblock Video
    </div>
    <ng-container *ngIf="videoStatus==false">
    <div *ngIf="type=='switch'" class="right-col-heading">
        Inactive Video
    </div>
    </ng-container>
    <ng-container *ngIf="videoStatus==true">
        <div *ngIf="type=='switch'" class="right-col-heading">
            Active Video
        </div>
        </ng-container>
    <div *ngIf="type=='deleteUser'" class="right-col-heading">
        Delete User
    </div>
    <div *ngIf="type=='blockUser'" class="right-col-heading">
        Block User
    </div>
    <div *ngIf="type=='unblockUser'" class="right-col-heading">
        Unblock User
    </div>
    <div *ngIf="type=='logout'" class="right-col-heading">
        Logout
    </div>
    <div *ngIf="type=='deleteCategory'" class="right-col-heading">
        Delete Category
    </div>
    <div *ngIf="type=='blockCategory'" class="right-col-heading">
        Block Category
    </div>
    <div *ngIf="type=='unblockCategory'" class="right-col-heading">
        Unblock Category
    </div>
    <div *ngIf="type=='deleteLanguage'" class="right-col-heading">
        Delete Language
    </div>
</div>

<div class="content-are-modal">
    <div *ngIf="type!='reject'" class="img-are">
        <img *ngIf="type=='approve' || type=='delete' || type=='block' || type=='unblock' || type=='deletetraning'" 
            src="../../../assets/images/delete-vector.svg" alt="delete" title="delete" />
        <img *ngIf="type=='deleteCategory' || type=='blockCategory' || type=='unblockCategory'" src="../../../assets/images/categorypopup.svg" alt="delete" title="delete" />
    </div>
    <ng-container *ngIf="type!='reject'">
        <div *ngIf="type=='approve'" class="text-description">
            Are you sure you want to approve this video?
        </div>
        <div *ngIf="type=='delete'" class="text-description">
            Are you sure you want to delete this video?
        </div>
        <div *ngIf="type=='deletetraning'" class="text-description">
            Are you sure you want to delete this trainingVideo?
        </div>
        <div *ngIf="type=='deleteUser'" class="text-description">
            Are you sure you want to delete this user?
        </div>
        <div *ngIf="type=='block'" class="text-description">
            Are you sure you want to block this video?
        </div>
        <div *ngIf="type=='unblock'" class="text-description">
            Are you sure you want to unblock this video?
        </div>
        <div *ngIf="type=='blockUser'" class="text-description">
            Are you sure you want to block this user?
        </div>
        <div *ngIf="type=='unblockUser'" class="text-description">
            Are you sure you want to unblock this user?
        </div>
        <div *ngIf="type=='logout'" class="text-description">
            Are you sure you want to logout?
        </div>
        <div *ngIf="type=='deleteCategory'" class="text-description">
            Are you sure you want to delete this category?
        </div>
        <div *ngIf="type=='deleteLanguage'" class="text-description">
            Are you sure you want to delete this language?
        </div>
        <div *ngIf="type=='blockCategory'" class="text-description">
            Are you sure you want to block this category?
        </div>
        <div *ngIf="type=='unblockCategory'" class="text-description">
            Are you sure you want to unblock this category?
        </div>
        <div *ngIf="type=='switch'" class="text-description">
            <ng-container *ngIf="videoStatus==true">
                Are you sure you want to Active this video?
            </ng-container>
            <ng-container *ngIf="videoStatus==false">
                Are you sure you want to inactive this video?
            </ng-container>
        </div>
    </ng-container>
    <div *ngIf="type=='reject'" class="form-group-comman">
        <textarea maxlength="500" (keyup)="onKey($event.target.value)" placeholder="Enter here......"></textarea>
        <span style="color: rgba(255, 255, 255, 0.5);">Maximum 500 characters.</span>
    </div>
    <div class="btn-ok">
        <button matDialogClose="no" class="btmt">NO</button>
        <button (click)="Video(type)" class="btm">YES</button>
    </div>


</div>