.header-main-area-modal {
    display: flex;
    align-items: center;
    padding: 26px 40px;
    background: #1E282D;
    
    color: #ffff;
    .left-col-close {
        margin-right: 20px;
        cursor: pointer;
    }
    .right-col-heading {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
}

.content-are-modal {
    padding: 40px 40px;
    text-align: center;
}

.text-description {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.btn-ok{
    display: flex;
    justify-content: space-between;
    .btm{
        background: #4F45BC;
        box-shadow: 0px 18px 35px 2px rgb(0 0 0 / 20%);
        border-radius: 31px;
        border: none !important;
        padding: 16px 55px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
    .btmt{
        background: #1E282D;
        box-shadow: 0px 18px 35px 2px rgb(0 0 0 / 20%);
        border-radius: 31px;
        border: none !important;
        padding: 16px 55px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.form-group-comman {
    margin-bottom: 35px;
    textarea {
        resize: none !important;
        height: 230px !important;
        width: 100%;
        background: #535a5c;
        border: none !important;
        padding: 26px;
        border-radius: 30px;
        color: #fff !important;
        ::placeholder{
            color: #fff;
        }
    }
}