/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Sul Sans";
    src: url("assets/fonts/SulSans-Medium.eot");
    src: url("assets/fonts/SulSans-Medium.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/SulSans-Medium.woff2") format("woff2"), url("assets/fonts/SulSans-Medium.woff") format("woff"),
        url("assets/fonts/SulSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Sul Sans";
    src: url("assets/fonts/SulSans-Bold.eot");
    src: url("assets/fonts/SulSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/SulSans-Bold.woff2") format("woff2"), url("assets/fonts/SulSans-Bold.woff") format("woff"),
        url("assets/fonts/SulSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Sul Sans";
    src: url("assets/fonts/SulSans-Light.eot");
    src: url("assets/fonts/SulSans-Light.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/SulSans-Light.woff2") format("woff2"), url("assets/fonts/SulSans-Light.woff") format("woff"),
        url("assets/fonts/SulSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sul Sans";
    src: url("assets/fonts/SulSans-Regular.eot");
    src: url("assets/fonts/SulSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/SulSans-Regular.woff2") format("woff2"),
        url("assets/fonts/SulSans-Regular.woff") format("woff"),
        url("assets/fonts/SulSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}

@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}

// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}

@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}


html {
    overflow-x: hidden;
    height: 100%;
    body {
        font-size:15px;
        font-family: "Sul Sans" !important;
        font-weight: 300;
        background: #293236;
        color: #fff;
        line-height: 1;
        word-break: break-all;
        overflow-x: hidden;
        height: 100%;
    }
}

p {
    font-size: 15px;
    color: #fff;
}

h1,
h2,
h3 {
    font-size: 26px;
}

.padding-none {
    padding-left: 0px;
    padding-right: 0px;
}

label {
    font-size: 16px;
    font-family: "Sul Sans" !important;
    color: #fff;
    margin-bottom: 28px;
    display: block;
    @include max-mq(1140){
        font-size: 13px;
    }
}

.form-control {
    color: #fff !important;
}


input{
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0px 4px 47px rgb(0 0 0 / 20%) !important;
    border-radius: 100px !important;
    line-height: 0 !important;
    min-height: auto !important;
    max-height: initial !important;
    padding: 17px 35px !important;
    border: none !important;
    width: 100% !important;
    // margin: 0px 20px;
    outline: none !important;
    box-shadow: none !important;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    @include max-mq(1500){
        padding:14px 32px !important
    }
}

textarea  {
   
    height: 120px !important;
}

::-webkit-scrollbar {
    width: 0px;
}

:focus{
    outline: none !important;
    box-shadow: none !important;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-wrapper {
    margin-top: 93px;
    margin-left: 230px;
    // background: #fff;
    // height: 100%;
    margin-right: 15px;
    margin-bottom: 25px;
    @include max-mq(1500){
        margin-top: 75px;
    }
    @include max-mq(1300){
        margin-top: 75px;
        margin-left: 200px;
    }
}

.comman-area-main-for-compo {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 47px rgb(0 0 0 / 20%);
    border-radius: 10px;
    padding-bottom: 10px;
}

.comman-area-main-for-compos {
    width: 100%;
    height: 100%;
    // background: rgba(255, 255, 255, 0.1);
    // box-shadow: 0px 4px 47px rgb(0 0 0 / 20%);
    border-radius: 10px;
    padding-bottom: 10px;
}

// ------------comman-heading-row-------------//
.comman-heading-row {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    align-items: center;
    .left-col-text {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.05em;
    }
    .right-col-dropdown{
        .btn-group{
            .btn {
                background: rgba(255, 255, 255, 0.1) !important;
                border-radius: 31px !important;
                border: none !important;
                padding: 12px 30px;
                padding-right: 60px;
                text-align: left !important;
                position: relative;
                font-size: 15px;
                line-height: 19px;
                letter-spacing: 0.02em;
                &::before{
                    position: absolute;
                    content: '';
                    background: url(assets/images/filter-icon.svg) no-repeat;
                    background-size: 17px;
                    width: 20px;
                    height: 20px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    right: 21px;
                    background-position: center;
                }
                &::after{
                    display: none;
                }
            }
            .dropdown-menu {
                background: #2D363A;
                border-radius: 10px;
                li{
                    a.dropdown-item {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.05em;
                        color: #fff !important;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        img {
                            margin-right: 12px;
                        }
                        &:hover{
                            background: rgba(0, 0, 0, 0.2);
                        }

                    }
                }
                li.apply-li {
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                    margin-top: 10px;
                    a{
                        text-align: center !important;
                        justify-content: center;
                        font-size: 15px !important;
                        line-height: 19px !important;
                        padding-top: 10px !important;
                        padding-bottom: 10px !important;

                    }
                }
            }
        }
    }
}

.main-content-page {
    padding: 20px 30px;
    margin-bottom: 30px;
}

.dropdown-custom-main{
    .btn-group {
        width: 100% !important;
        .btn{
            width: 100%;
            text-align: left;
            background: #535a5c !important;
            box-shadow: none !important;
            border: none !important;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.02em;
            color: rgba(255, 255, 255, 0.5);
            padding: 17px 35px !important;
            border-radius: 100px !important;
            position: relative;
            &::before{
                position: absolute;
                content:'';
                background: url(assets/images/down.svg) no-repeat;
                background-size: 13px;
                width: 13px;
                height: 15px;
                right: 33px;
                top: 0;
                bottom: 0;
                margin: auto;
                background-position: center;
            }
            &::after{
                display: none;
            }
        }
        .dropdown-menu {
            width: 100% !important;
            background: #535a5c;
            border-radius: 20px;
            box-shadow: 0px 18px 35px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            li{
                border-bottom: 1px solid #ffffff61;
                .dropdown-item {
                    color: #fff;
                    font-size: 15px;
                    padding: 17px 30px;
                    &:hover{
                        background: #3f474a !important;
                    }
                }
            }
        }
    }
}


.checkbox-in{
    .example-margin{
        .mat-checkbox-layout{
            margin-bottom: 0;
            .mat-checkbox-inner-container{
                background: #535a5c;
                height: 26px;
                width: 26px;
                border-radius: 5px;
                .mat-checkbox-frame {
                    border: none;
                }
            }
            span.mat-checkbox-label{
                line-height: 24px;
                font-size: 13px;
                position: relative;
                top: 2px;
            }
        }
    }
    .mat-checkbox-checked{
        .mat-checkbox-layout{
            margin-bottom: 0;
            .mat-checkbox-inner-container{
                .mat-checkbox-background{
                    background-color: #5044bc;
                    border-radius: 5px;
                    svg{
                        width: 19px;
                        height: 19px;
                        left: 3px;
                        top: 3px;
                    }
                }
            }
        }
    }
}


.otp-id{
    .wrapper {
        input {
            width: 63px !important;
            height: 55px !important;
            padding: 0 !important;
            font-size: 18px !important;
            margin-right: 0px !important;
            border-radius: 0 !important;
            :first-child{
                border-top-left-radius: 30px !important;
                border-bottom-left-radius: 30px !important;
            }
            :last-child{
                border-top-right-radius: 30px !important;
                border-bottom-right-radius: 30px !important;
            }
        }
    }
}

.login-card-inner-main .otp-id .wrapper input:first-child {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}

.login-card-inner-main .otp-id .wrapper input:last-child {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.cursor{
    cursor: pointer;
}

// --------------------Modal-popup--------------------//
.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.preview-video {
    max-width: 50% !important;
    width: 100% !important;
    .mat-dialog-container{
        padding: 0;
        background: #263238;
        border-radius: 10px;
        text-align: center;
        video{
            width: 100%;
            height: 440px;
        }
    }
}



.shine {
    background: #6f7577;
    background-image: linear-gradient(to right, #6f7577 0%, #757679 20%, #68727b 40%, #797a7d 100%);
    background-repeat: no-repeat;
    background-size: 800px 193px; 
    display: inline-block;
    position: relative; 
    animation-name: placeholderShimeer;
    -webkit-animation-duration: 5s;
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
    }
  
//   .box {
//     height: 104px;
//     width: 100px;
//   }

  .lines {
    height: 10px;
    margin-top: 10px;
    width: 200px; 
  }
  

  @keyframes placeholderShimmer {
    0% {
      background-position: -468px  0;
    }
    100%{
        background-position: 468px 0; 
    }
  }
  
  
  .shimm-main-video {
    width: 100%;
    display: flex;
    // align-items: center;
    .box {
        height: 193px;
        width: 155px;
        border-radius: 10px;
        margin-right: 20px;
    }
    .right-line{
        .heading-shim {
            margin-bottom: 32px;
            .left-head {
                width: 300px;
                margin-right: 40px;
                height: 25px;
                border-radius: 10px;
                animation-name: widthShimes;
                animation-fill-mode:both;
                -webkit-animation-duration: 2s;
                -webkit-animation-fill-mode: both; 
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-name: widthShimes ;
                -webkit-animation-timing-function: linear;
                background: #6f7577;
            }
        }
        .paragraph-shims{
            .test-paragraph {
                margin-top: 0;
                background: #6f7577;
                margin-bottom: 18px;
                width: 600px;
                height: 13px;
                border-radius: 4px;
                animation-name: widthShimes1;
                animation-fill-mode:both;
                -webkit-animation-duration: 2s;
                -webkit-animation-fill-mode: both; 
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-name: widthShimes1 ;
                -webkit-animation-timing-function: linear;
                &:last-child{
                    margin-bottom: 0px;
                }
                
            }
        }
    }
}

@keyframes widthShimes {
    0%{
        width: 0px;
    }
    50%{
        width: 300px;
    }
    100% {
        width: 0px;
    }
    
}

@keyframes widthShimes1 {
    0%{
        width: 0px;
    }

    50%{
        width: 600px;
    }

    100% {
        width: 0px;
    }
    
}

// -------------delete-video---------------//
.delete-video{
    max-width: 25% !important;
    width: 100% !important;
    .mat-dialog-container{
        padding: 0px;
        background: #263238;
        border-radius: 25px;
    }
}


.approve-video{
    max-width: 75% !important;
    width: 100% !important;
    .mat-dialog-container{
        padding: 0px;
        background: #263238;
        border-radius: 25px;
        height: 540px;
    overflow-y: auto;
    }
}