{{ content }}
<a style="text-decoration: underline;cursor: pointer;    
font-weight: 500;
font-size: 16px;
line-height: 144.9%;
color: #FFFFFF;
margin-right: 20px;
padding-right: 20px;"  *ngIf="!isContentToggled" (click)="toggleContent()" i18n>Read More</a>
<a style="text-decoration: underline;cursor: pointer;    
font-weight: 500;
font-size: 16px;
line-height: 144.9%;
color: #FFFFFF;
margin-right: 20px;
padding-right: 20px;"  *ngIf="isContentToggled" (click)="toggleContent()" i18n>Read Less</a>
 