<div class="comman-area-main-for-compos ">
    <!-- --------------comman-heading-use-for-all----------------------------- -->
    <div class="comman-heading-row">
            <div style="color:#FFFFFF" class="left-col-text">Upload Videos</div>
    </div>

    


    <!-- --------------page-start-here------------------ -->
    <div class="main-content-page">
        <ng-container *ngIf="videoId!=undefined">
        <div class="switchActive">
            <span *ngIf="selected==true">Active</span>
            <span *ngIf="selected==false">InActive</span>
        <input (change)="onValChange(selected)" [(ngModel)]="selected" type="checkbox" hidden="hidden" id="username">
        <label class="switch" for="username"></label></div>
        </ng-container>
        <form method="post" enctype="multipart/form-data" [formGroup]="uploadvideoForm">
        <div class="inner-upload-video-main">
            <div class="form-group-comman">
                <input disabled  type="text" formControlName="title" placeholder="Title"  maxlength="45"/>
            </div>
            <div class="form-group-comman">
                <textarea disabled maxlength="500" formControlName="description" placeholder="Description"></textarea>
            </div>
            <div formArrayName="videoinputRows" class="form-group-comman hash-tags-field">
                <div class="left-input-filed-adding">
                    <div *ngFor="let d of videoinputForms?.controls; let i=index" [formGroupName]="i" class="new-add-input">
                    <input disabled maxlength="26"  formControlName="videoinput" type="text" placeholder="Tags">
                    <!-- <button  (click)="deleteVideoRow(i)" class="btn-blue">
                        <img src="../../../assets/images/delete.svg" alt="video" title="video">
                    </button> -->
                    </div>
                </div>
                
                <!-- <div class="right-btn-add">
                    <button (click)="addNewVideoRow()" class="btn-blue">
                        <img src="../../../assets/images/white-plus.svg" alt="plus" title="plus">
                    </button>
                </div> -->
            </div>

            <div class="form-group-comman dropdown-custom-main">
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                      {{categoryPlaceholder}}<span class="caret"></span>
                    </button>
                    <!-- <ul  id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li *ngFor="let data of category" value="Action" role="menuitem"><a (click)="selectCategory(data._id,data.name)" class="dropdown-item">{{data.name}}</a></li>
                    </ul> -->
                  </div>
            </div>

            <div class="form-group-comman dropdown-custom-main">
                <div class="btn-group" dropdown>
                    <button  id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                      {{languagePlaceholder}}<span class="caret"></span>
                    </button>
                    <!-- <ul  id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li *ngFor="let data of languageList" value="Action" role="menuitem"><a (click)="selectLanguage(data._id,data.name)" class="dropdown-item">{{data.name}}</a></li>
                    </ul> -->
                  </div>
            </div>

            <div class="form-group-comman upload-main-custom">
                <div class="inner-custtom-card">
                   
                    <!-- <img height="451" width="358" *ngIf="thumbnailVideoImage" [src]="thumbnailVideoImage" /> -->
                    <video  [src]="thumbnailVideoImage"  height="351" width="258"  controls></video>
                    <!-- <div *ngIf="!thumbnailVideoImage" class="video-icon"><img src="../../../assets/images/video-icon.svg" alt="video" title="video" /></div> -->
                    <!-- <div *ngIf="!thumbnailVideoImage" class="upload-file-text">Upload video file here</div>
                    <div *ngIf="!thumbnailVideoImage" class="extentsion-file">File formate .mp4, WMV, .MPEG4</div> -->
                    <!-- <div class="button-browse">
                         <button *ngIf="videoParms" (click)="uploadVideo()" class="upload-btn">Browse</button></div>
                    <div *ngIf="videoParms" class="file-size-des">Maximum size 10MB</div> -->
                </div>

            </div>
            <div class="form-group-comman upload-main-custom">
                <div class="inner-custtom-card">
                    <!-- <img class="cursor" (click)="deleteImage()" width="30" *ngIf="imageUrl" src="../../../assets/images/cross.svg" alt="video" title="video" /> -->
                    <img  height="351" width="258"  [src]="imageUrl" />
                    <!-- <div *ngIf="!imageUrl" class="video-icon"><img src="../../../assets/images/img-icon.svg" alt="video" title="video" /></div>
                    <div *ngIf="!imageUrl" class="upload-file-text" style="margin-bottom:40px">Upload cover image</div>
                    <div class="button-browse"> <button class="upload-btn" (click)="imageVideo()">Browse</button></div>
                    <div class="file-size-des">Maximum size 5MB</div> -->
                </div>
            </div>
            <!-- <div class="form-group-comman checkbox-in">
                <mat-checkbox [checked]= "public" value="checked"  (click)="changeValue(checked)" class="example-margin">is Public</mat-checkbox>
            </div> -->

        </div>

        <!-- ------submit and cancel-button------------>

        <div class="last-row-button">
            <div class="inner-button-row">
                <button type="reset" (click)="cleardata()"  class="cancel-btn">Cancel</button>
                <!-- <button (click)="save()" class="submit-btn">Submit</button> -->
                <button title="Login" [disabled]="isLoading" (click)="save()" class="submit-btn"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i> {{button}}</button>

            </div>
        </div>
    
    </form>
    </div>



</div>



