<div class="comman-area-main-for-compo ">
     <!-- --------------comman-heading-use-for-all----------------------------- -->
     <div class="comman-heading-row">
        <div class="left-col-text">All Videos</div>
        <div class="right-col-dropdown">
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                        {{selectCategoryName}} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <a (click)="selectAllCategories()" class="dropdown-item">
                          <!-- <img  src="../../../assets/images/comedy.svg" alt="comedy" title="comedy"> -->
                        All Categories
                        </a>
                    </li>
                  <li *ngFor="let data of category" role="menuitem">
                      <a (click)="selectCategory(data._id,data.name)" class="dropdown-item">
                        <img *ngIf="data.icon" width="20" src="{{data.icon}}" alt="comedy" title="comedy">
                        {{data.name}}
                      </a>
                  </li>
                    <!-- <li (click)="categoryFilter()" role="menuitem" class="apply-li"><a class="dropdown-item">Apply</a></li> -->
                  
                </ul>
              </div>
        </div>
    </div>

   

<ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
    <div *ngIf="shimmer" class="main-all-videoes">
        <div class="shimm-main-video">
            <div class="box shine"></div>
            <div class="right-line">
                <div class="heading-shim">
                    <div class="left-head lines width-shim"></div>
                </div>
                <div class="paragraph-shims">
                    <div class="test-paragraph lines para-shim"></div>
                    <div class="test-paragraph lines para-shim"></div>
                    <div class="test-paragraph lines para-shim"></div>
                    <div class="test-paragraph lines para-shim"></div>
                </div>
            </div>
        </div>

    </div>
</ng-container>
    <!-- --------------------------- content-area---------------------------- -->
    <ng-container *ngIf="videoList.length>0;else other_content">
    <div  class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    [scrollWindow]="false">
    <div *ngFor="let data of videoList; let i = index" class="main-inner-contet-all-videos">
        <div class="main-all-videoes">
            <div class="img-col-main">
                <img  src="{{data.video.thumbnail}}" title="allvideos" alt="videos"/>    
            </div>
            <!-- -------center-col-main---- -->
            <div class="center-col">
                <div class="first-row-heading">
                    <div class="left-heading-video">{{data.title}}</div>
                    <!-- --apply-condition-for three div-------- -->
                    <div *ngIf="data.status=='APPROVED'" class="right-col-status">
                        <img  src="../../../assets/images/approved-tick.svg" alt="new" title="new">
                        Approved
                    </div>
                    <div *ngIf="data.status=='PENDING'" class="right-col-status">
                        <img  src="../../../assets/images/new-status.svg" alt="new" title="new">
                        New
                    </div>
                    <!-- -------temp-comment----------- -->
                    <!-- <div class="right-col-status">
                        <img src="../../../assets/images/approved-tick.svg" alt="approved-tick" title="approved-tick">
                        Approved
                    </div>
                    <div class="right-col-status">
                        <img src="../../../assets/images/rejected-icon.svg" alt="rejected" title="rejected">
                        Rejected
                    </div> -->
                </div>
                <!-------- ----paragraph-text-------------- -->
                
                <!-- <div *ngIf="data.description" class="paragraph-text">  <app-read-more
                    [content]="data.description"
                    [limit]="150"
                    [completeWords]="true"
                  >
                  </app-read-more></div> -->

             
                <!-- ------------private| public |---------- -->
                <div class="public-private-main">
                    <div *ngIf="data.isPublic==true" class="left-col-public-priv">
                        <img src="../../../assets/images/public-tick.svg" alt="lock" title="lock">
                        Public
                    </div>
                    
                    <div *ngIf="data.isPublic==false" class="left-col-public-priv">
                        <img src="../../../assets/images/lock.svg" alt="lock" title="lock">
                        Private
                    </div>
                    <div class="right-col-emotion">
                         <img width="20" src="{{data.categoryId.icon}}" alt="comedy" title="comedy" />   
                         {{data.categoryId.name}}
                    </div>
                   
                </div>
                <div style="font-size: 13px;"  *ngIf="data.score" class="left-col-public-score">
                    Score : {{data.score}}
                   </div>

                   <div style="font-size: 13px;"  *ngIf="data.aiLogs" class="server-id">
                    <span>Ai Server Id :</span> {{data.aiLogs.Ai_Server_Id}}
                   </div>

                   <div style="font-size: 13px;"  *ngIf="data.aiLogs" class="server-id">
                    <span> Total Swap Time :</span> {{data.aiLogs.Total_Swap_Time}}
                   </div>
                <!-- -----------has-tag------------------- -->
                <div class="has-tag-main">
                    <span *ngFor="let tag of data.tags">#{{tag}}</span>
                </div>


            </div>
            <!-- ----end-of-center-colo-main------------ -->
            <div class="last-col-two-btn">
                <div class="inner-last-col">
                    <button (click)="previewVideo(data.video.original)" class="custom-btn">
                        <img src="../../../assets/images/eye.svg" alt="eye" title="eye"/>Preview Video
                    </button>
                    <div class="actions-btns">
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                    aria-controls="dropdown-basic">
                                <img  src="../../../assets/images/edits-dots.svg" alt="edits" title="edits"/>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                role="menu" aria-labelledby="button-basic">
                            <li role="menuitem">
                                <a [routerLink]="['/uploadvideo']" [queryParams]="{id: data._id}" class="dropdown-item">
                                    <img src="../../../assets/images/edit-pencil.svg" alt="Edit" title="Edit">
                                    Edit
                                </a>
                            </li>
                            <li role="menuitem">
                                    <a class="dropdown-item" (click)="deleteVideo('delete',data._id)">
                                    <img src="../../../assets/images/delete-1.svg" alt="Delete" title="Delete">
                                    Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
</ng-container>
<ng-template #other_content>
     <div *ngIf="!shimmer" class="norecord">
    <img src="../../../assets/images/noVideo.svg">
    <span style="display: block;">No video found</span>
   </div>
</ng-template>

</div>